beer-vision-android/*.iml
beer-vision-android/.gradle
beer-vision-android/local.properties
beer-vision-android/.idea/caches
beer-vision-android/.idea/libraries
beer-vision-android/.idea/modules.xml
beer-vision-android/.idea/workspace.xml
beer-vision-android/.idea/navEditor.xml
beer-vision-android/.idea/assetWizardSettings.xml
.DS_Store
beer-vision-android/.DS_Store
beer-vision-android/build
beer-vision-android/captures
beer-vision-android/.externalNativeBuild
beer-vision-android/.cxx
/data
beer-vision-android/.idea/
beer-vision-android/app/build/
